html {
  font-family: "Fredoka One", sans-serif;
}

body {
  background-image: repeating-linear-gradient(-30deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 20px);
  border-top: 6px solid #b3fbff;
  border-bottom: 6px solid #b3fbff;
  min-height: 500px;
}

h1 {
  color: #990073;
  transform-origin: left center;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform-origin: left center;
  max-width: 19em;
  transform: rotate(-6deg);
}

a {
  text-decoration: none;
  color: #c09;
}

.btn-ghost {
  border: 3px solid #990073;
  border-radius: 4px;
  background-color: transparent;
  color: #c09;
}

.btn-ghost:hover {
  background-color: #c09;
  color: #c09;
  border-color: #990073;
}

.intro {
  position: relative;
  transform-origin: left center;
  left: 57px;
  top: 110px;
  animation: intro 1s linear;
  text-shadow: 1px 1px 1px;
}

@keyframes intro {

  0% {
    filter: opacity(0);
  }

  50% {
    filter: opacity(.1);
  }

  75% {
    filter: opacity(.5);
    filter: blur(.5px);
  }

  100% {
    filter: opacity(1);
  }

}

.ice-cream {
  position: absolute;
  right: -151px;
  transform: scale(.7);
  top: 100px;
  min-height: 480px;
}

.cone {
  position: absolute;
  z-index: 2;
  top: 230px;
  animation: cone .5s linear forwards;
  transform-origin: bottom;
  width: 180px;
}

@keyframes cone {

  0% {
    top: -900px;
  }

  100% {
    top: 230px;
  }

}

.mint-chip {
  position: absolute;
  z-index: 1;
  top: 105px;
  animation: mint .7s linear forwards;
  transform-origin: bottom;
  width: 180px;
}

@keyframes mint {

  0% {
    top: -900px;
  }

  100% {
    top: 105px;
  }

}

.chocolate-chip {
  position: absolute;
  z-index: 3;
  top: 10px;
  animation: choco 1s linear forwards;
  transform-origin: bottom;
  width: 180px;
}

@keyframes choco {

  0% {
    top: -930px;
  }

  100% {
    top: 10px;
  }

}

.vanilla-fudge {
  position: absolute;
  z-index: 4;
  top: -110px;
  animation: vanilla 1.3s linear forwards;
  transform-origin: bottom;
  width: 180px;
}

@keyframes vanilla {

  0% {
    top: -970px;
  }

  100% {
    top: -110px;
  }

}

.cherry {
  position: absolute;
  z-index: 5;
  left: 54px;
  top: -170px;
  animation: cherry 1.5s linear forwards;
}

@keyframes cherry {

  0% {
    top: -1000px;
  }

  100% {
    top: -170px;
  }

}
